{% extends 'including/masterPage.html.twig' %}

{% block title %}Modifier Calendrier{% endblock %}

{% block body %}
    <h1>Modifier Calendrier</h1>

    {{ include('calendar/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_calendar_index') }}">Retour</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
