{% extends 'base.html.twig' %}

{% block title %}New NivScol{% endblock %}

{% block body %}
    <h1>Create new NivScol</h1>

    {{ include('niv_scol/_form.html.twig') }}

    <a href="{{ path('app_niv_scol_index') }}">back to list</a>
{% endblock %}
